version: 2
jobs:
  deploy-website:
    working_directory: ~/vuls
    docker:
      - image: cimg/node:21.6.1
         # - image: circleci/node:9.9.0
         #- image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          keys:
            - website-node-modules-{{ checksum "website/yarn.lock" }}
            - website-node-modules-
      - run:
          name: Install node_modules
          command: |
            cd website
            yarn global upgrade
            yarn --no-progress
      - run:
          name: Install apt packages
          command: |
            sudo apt-get update && sudo apt-get install rsync git openjdk-17-jdk
      - save_cache:
          key: website-node-modules-{{ checksum "website/yarn.lock" }}
          paths:
            - website/node_modules
      - deploy:
          name: Publish gh-pages
          command: |
                  git config --global user.email "kotakanbe@users.noreply.github.com"
                  git config --global user.name "kotakanbe"
                  echo "machine github.com login kotakanbe password $GITHUB_TOKEN" > ~/.netrc
                  # install Docusaurus and generate file of English strings
                  yarn && cd website && yarn run write-translations && cd ..
                  cd website && yarn install && GIT_USER=kotakanbe yarn run publish-gh-pages

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - deploy-website:
          filters:
            branches:
              only: master
